<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout 3</title>
    <link rel="stylesheet" href="style3.css">
</head>
<body>

<header>MathBuzz</header>

<main class="cards">

    <article class="card big">
        <h2>Main Article</h2>
        <p>Main content...</p>
    </article>

    <article class="card">
        <h2>Lead 1</h2>
        <p>Short text...</p>
    </article>

    <article class="card">
        <h2>Lead 2</h2>
        <p>Short text...</p>
    </article>

</main>

</body>
</html>